*,::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: black;
    font-style: "Open Sans";
    color: white;
}
.principal p{
    font-size: 2rem;
    box-shadow: 5px 8px 12px black;
    text-align: center;
    color: black;
    position: absolute;
    top:50%;
    right: 60%;
    transform: translate(-50%,-50);
}
h1{
    text-align: center;
}


